.mm-list > li > a, .mm-list > li > span
{
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-family: tahoma;
  
}
.mm-search
{
    position: relative;
}
.mm-search input
{
    color: #313131;
    font-size: 14px;
    font-family: tahoma;
    text-indent: 20px;
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after 
{
    border-bottom-color: rgba(255, 255, 255, 0.25);
}
.mm-list a.mm-subopen:after, .mm-list a.mm-subclose:before
{
    border-color: #000;
}
.mm-menu .mm-list
{
    padding-top: 0px;
}
.mm-menu .mm-list > li > a.mm-subclose
{
    color: white; 
    text-align: center; 
    text-transform: uppercase; 
    padding: 10px 10px 10px 20px; 
    margin-top: 0px;
}
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before
{
    border-color: #000; margin-bottom: -5px
}
.mm-menu .mm-list > li > a.mm-subopen:before 
{
    border-color: rgba(255, 255, 255, 0.24);
}
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before 
{
    border-color: white;
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after
{
    margin-left: 0px;
}
.mm-list > li.active > a
{
    background-color: #DC1616;
    color: white;
}
.mm-menu
{
    background: #000;
}
.mm-menu::-webkit-scrollbar
{
    width: 6px;
}
.mm-menu::-webkit-scrollbar-thumb
{
    background-color: #3FBA78;
}
.mm-menu > .mm-list:after
{
    height: 0px;
}
#mobilemenu
{
    padding-left: 65px;
    background: #000;
    position: relative;
}
a.home2
{
    position: absolute;
    top: 9px;
    left: 18px;
}
a.home2 i
{
    color: #fff;
    font-size: 25px;
}
.hotline-rp
{
        position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-family: SFUEuroconden;
    color: #f7931e;
    font-weight: bold;
}
#hamburger
{
    display: block;
    width: 100%;
    height: 40px;
    z-index: 999;
    background: #000;
    box-sizing: border-box;
    border-left: 2px solid #F4F4F4;
}
#hamburger b
{
     text-transform: uppercase;
    font-family: UTM_Helve;
    color: #F4F4F4;
    font-weight: normal;
    font-size: 15px;
    padding-left: 60px;
    display: inline-block;
    padding-top: 10px;
}
#hamburger:before, #hamburger:after, #hamburger span
{
        background: #F4F4F4;
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    position: absolute;
    left: 85px;
}
#hamburger:before
{
    top: 8px;
}
#hamburger span
{
    top: 18px;
}
#hamburger:after
{
    top: 28px;
}

/* Hamburger animation */
#hamburger:before, #hamburger:after, #hamburger span
{
    -webkit-transition: none 0.5s ease 0.5s;
    transition: none 0.5s ease 0.5s;
    -webkit-transition-property: transform, top, bottom, left, opacity;
    transition-property: transform, top, bottom, left, opacity;
}
html.mm-opening #hamburger:before, html.mm-opening #hamburger:after
{
    top: 22px;  
}
html.mm-opening #hamburger span
{
    left: -50px;
    opacity: 0;
}
html.mm-opening #hamburger:before
{
    transform: rotate( 45deg );
}
html.mm-opening #hamburger:after
{
    transform: rotate( -45deg );
}

div#search_mobi
{
    position:relative;
    z-index:100;
    background:rgba(255, 255, 255, 0.2);
    height:30px;
    margin:0px 5%;
    width:90%;
        margin-top: 10px;
    border-radius:22px;

}
div#search_mobi input
{
    padding:0px 2% 0 2%;
    float:left;
    height:30px;
    line-height:30px;
    border:none;
    background:none;
    width:81%;
    outline:none;
    color:#fff;
    text-align:center;
}
div#search_mobi i
{
    padding:7px;
    cursor:pointer;
}





#search_mobi ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#search_mobi ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#search_mobi :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#search_mobi :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}